*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches/

.DS_Store
/build
/captures
.externalNativeBuild

**/app/release/*

**/jarRepositories.xml
**/navEditor.xml
**/misc.xml
**/uiDesigner.xml
**/assetWizardSettings.xml
**/misc.xml
**/gradle.xml
**/project_Default.xml